@import "compass";

body {
    background: #fafafa;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    color: #333;
}

h3{
    margin-bottom: 5px;
}

p{
    margin: 0 0 8px 0;
    font-size: 12px;
}

.logger__container{
    display: block;
    position: absolute;
    left: -98%;
    // left: -100%;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #2C2C2C;
    -webkit-transition: left 0.3s ease-in-out;
    color: #F0F0F0;
    text-shadow: 0px 1px #333;
    overflow: scroll;
    padding-bottom: 100px;
    &.open{
        left: 0;
    }
    .logger__container--inner{
        font-size: 12px;
        color: #222;
        width: 100%;
        background: white;
        height: 300px;
        display: block;
    }

    .logger--add-virus-button{
        position: absolute;
        right: 50px;
        top: 15px;
    }
    .logger--kill-virus{
        position: absolute;
        top: 15px;
        right: 170px;
    }
}

#logger__resume--table{
    width: 33.33333333333333%;
}

#logger__status--table{
    font-size: 12px;
    .virus--name{
        color: #C7E6AB;
    }
    .virus--alive-status{
        width: 16px;
        height: 16px;
        @include border-radius(16px);
        background: #C7E6AB;
        display: block;
        margin: 0 auto;
        &.dead{
            background: #F25580;
        }
        &.pending{
            background: #F2CF69;
        }
    }
}

.logger__console, .logger__status{
    color: white;
    width: 85%;
    margin: 0 auto;
}

.logger__console{
    padding-top: 100px;
}

.logger--button{
    display: block;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 10px;
    text-decoration: none;
}

canvas{
    display: block;
}